In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load Plant 1 data
weather= pd.read_csv(r"C:\Users\User\Desktop\solar_code\Task\plant1\Plant_1_Weather_Sensor_Data.csv")

In [3]:
weather

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...
3177,2020-06-17 22:45:00,4135001,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
3178,2020-06-17 23:00:00,4135001,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
3179,2020-06-17 23:15:00,4135001,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
3180,2020-06-17 23:30:00,4135001,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
3181,2020-06-17 23:45:00,4135001,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

In [4]:
# Drop unnecessary columns
weather_clean = weather.drop(columns=['PLANT_ID', 'SOURCE_KEY'])

In [6]:
weather_clean

,DATE_TIME,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,24.621525,22.165423,0.0
...,...,...,...,...
3177,2020-06-17 22:45:00,22.150570,21.480377,0.0
3178,2020-06-17 23:00:00,22.129816,21.389024,0.0
3179,2020-06-17 23:15:00,22.008275,20.709211,0.0
3180,2020-06-17 23:30:00,21.969495,20.734963,0.0
3181,2020-06-17 23:45:00,21.909288,20.427972,0.0

In [7]:
# Ensure datetime
weather_clean['DATE_TIME'] = pd.to_datetime(weather_clean['DATE_TIME'])

In [9]:
# Create full expected timeline (same as generation)
full_time_index= pd.date_range(
    start = weather_clean['DATE_TIME'].min(),
    end   = weather_clean['DATE_TIME'].max(),
    freq='15T'
)
 
len(full_time_index)

C:\Users\User\AppData\Local\Temp\ipykernel_10208\640447278.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  full_time_index= pd.date_range(

3264

In [10]:
# Reindex to full 15-min timeline
weather_clean = (
    weather_clean.set_index('DATE_TIME')
    .reindex(full_time_index)
    .reset_index()
    .rename(columns={'index':'DATE_TIME'})
)

print("Shape after reindexing:", weather_clean.shape)  # should be 3264

Shape after reindexing: (3264, 4)

In [11]:
# Interpolate missing values
weather_clean[['AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION']] = \
    weather_clean[['AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION']].interpolate(method='linear')

In [12]:

# Final check
print(weather_clean.isnull().sum())
print(weather_clean.head(10))
print(weather_clean.tail(10))

DATE_TIME              0
AMBIENT_TEMPERATURE    0
MODULE_TEMPERATURE     0
IRRADIATION            0
dtype: int64
            DATE_TIME  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
0 2020-05-15 00:00:00            25.184316           22.857507          0.0
1 2020-05-15 00:15:00            25.084589           22.761668          0.0
2 2020-05-15 00:30:00            24.935753           22.592306          0.0
3 2020-05-15 00:45:00            24.846130           22.360852          0.0
4 2020-05-15 01:00:00            24.621525           22.165423          0.0
5 2020-05-15 01:15:00            24.536092           21.968571          0.0
6 2020-05-15 01:30:00            24.638674           22.352926          0.0
7 2020-05-15 01:45:00            24.873022           23.160919          0.0
8 2020-05-15 02:00:00            24.936930           23.026113          0.0
9 2020-05-15 02:15:00            25.012248           23.343229          0.0
               DATE_TIME  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
3254 2020-06-17 21:30:00            22.996562           21.869773          0.0
3255 2020-06-17 21:45:00            23.137091           22.125985          0.0
3256 2020-06-17 22:00:00            22.563179           21.164713          0.0
3257 2020-06-17 22:15:00            22.199229           20.515273          0.0
3258 2020-06-17 22:30:00            22.171737           21.080829          0.0
3259 2020-06-17 22:45:00            22.150570           21.480377          0.0
3260 2020-06-17 23:00:00            22.129816           21.389024          0.0
3261 2020-06-17 23:15:00            22.008275           20.709211          0.0
3262 2020-06-17 23:30:00            21.969495           20.734963          0.0
3263 2020-06-17 23:45:00            21.909288           20.427972          0.0

In [13]:
len(weather_clean)

3264

In [15]:
type(weather_clean)

pandas.core.frame.DataFrame

In [16]:
# Save cleaned weather data
weather_clean.to_csv(
    r"C:\Users\User\Desktop\solar_code\Task\plant1\Plant1_Weather_Cleaned.csv",
    index=False
)
print("✅ Weather data saved successfully!")

✅ Weather data saved successfully!